/* CSS DocumentProject: Project Management Dashboard
----------------------------------------------------------------------------------------------------------*/

/*------------------Layout,Table of Contents-----------------------------------------------------------------
1. BASIC STUFF
2. REUSED ITEMS
3. SIDE PANEL
4. MAIN PANEL
5. FOOTER
6. DETAILS TAB
7. RESOURCES TAB
8. INVOICE TAB
9. PROJECT - POPUP
-----------------------------------------------------------------------------------------------------------*/

/* -------------------------------- */
/* ----- 1. BASIC STUFF ------------*/
/* -------------------------------- */

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  html {
    background-color: white;
    color: #464648;
    font-family: "Manrope", sans-serif;
    font-weight: 300;
    font-size: 16px;
    text-rendering: optimizeLegibility;
  }
  
  /* -------------------------------- */
  /* ----- 2. REUSED ITEMS -----------*/
  /* -------------------------------- */
  .flex-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .side-panel {
    display: block;
    /* flex: 1; */
    padding: 20px;
    width: 20%;
    background-color: #dcdcdc;
    /* position: fixed; */
  }
  .head-text-logo {
    color: rgb(2, 1, 1);
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .logo {
    width: 50px;
    height: 50px;
    border-radius: 50px;
  }
  
  .logo img {
    width: 50px;
    height: 50px;
  }
  
  .head-text-logo p {
    font-size: 120%;
    font-weight: 500;
    margin-left: 20px;
  }

  .card-holder ul li {
    list-style: none;
    padding: 15px;
    margin: 2px;
    border-radius: 5px;
    align-items: center;
  }

  .card-holder ul a{
    color: rgb(0, 0, 0);
  }

  .card-holder ul a:hover {
    color: white;
  }

  .card-holder ul a:hover li{
    background-color: #49d8a0;
  }

  .card-holder a {
    text-decoration: none;
  }
  .main-panel {
    padding: 20px;
    height: 1200px;
    width: 100%;
    margin: 0 auto;
    max-width: 95% ;
    background-color: #f1f1f1;
  }
  
  .btn-red {
    padding: 8px 12px;
    margin: 0 auto;
    color: #fff;
    background-color: #d84981;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .btn-red:hover {
    -webkit-transform: translateY(-2px) scale(1.001);
    transform: translateY(-2px) scale(1.001);
    -webkit-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
  }
  
  button {
    font-size: 100%;
  }
  
  /* -------------------------------- */
  /* ----- 3. SIDE PANEL -------------*/
  /* -------------------------------- */
  
  .card-holder {
    height: 70%;
    padding: 0 15px;
    padding-top: 20px;
    flex-direction: column;
  }
  
  /* -------------------------------- */
  /* ----- 4. MAIN PANEL -------------*/
  /* ---------------------------------*/

  .graph-container,
  .counts-container {
    flex:1;
    display: flex;
    flex-basis: 100%;
    height: 50%;
    }

  .right-graph-container,
  .left-graph-container ,
  .right-counts-container,
  .left-counts-container {
    flex:1;
    flex-basis: 50%;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    background-color: #f1f1f1;
    border-radius: 5px;

  }

  .right-graph-container:hover,
  .left-graph-container:hover {
    -webkit-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3); 
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
  }

  .projects-count,
  .resources-count,
  .billable-count,
  .shadow-count {
    flex:1 35%;
    margin: 10px;
    padding: 30px;
    -webkit-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    color: #fff;
    border-radius: 10px;
    height: 40%;

  }
  .projects-count,
  .resources-count {
    margin-top: 30px;
  }
  .billable-count,
  .shadow-count {
    margin-bottom: 30px;
  }

  #all-project-count,
  #all-resource-count,
  #all-billable-count,
  #all-shadow-count {
    font-size: 200%;
  }

  .projects-count:hover,
  .resources-count:hover,
  .billable-count:hover,
  .shadow-count:hover {
    -webkit-transform: translateY(-10px) scale(1.01);
    transform: scale(1.01);
    -webkit-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
  }
  .projects-count,
  .shadow-count {
    background-color: #49d8a0;
  }

  .resources-count,
  .billable-count {
    background-color: #d84981;

  }

  .technologies-count-container {
    background-color: #15BEBB;
    width: 100%;
    /* margin: 10px; */
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    /* height: 330px; */
    height: 100%;
    overflow: scroll;
  }

    /* Hide scrollbar */
    .technologies-count-container::-webkit-scrollbar {
      width: 0px;
      height: 0px;
      background: transparent;
    }

  .technologies-count {
    display: flex;
    color: #fff;
    margin: 20px 30px;
  }

  .tech-logo {
    /* flex: 0.1; */
    width:10%;
  }

  .tech-count {
    /* flex:1; */
    width:80%;
    margin-left: 6px;
    padding-left: 15px;
    text-align: left;
  }

  .card-icon {
    width:40px;
  }

  .graph-technologies,
  .graph-resources {
    margin: auto;
  }

  .progress-bar {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 6px;
    animation: animateprogressbar 2s
  }
  
  .progress-bar-fill {
    display: block;
    height: 8px;
    background-color: #9e9e9e;
    border-radius: 3px;
    width: 30%;
    transition: width 500ms ease-in-out;
    ;
  }
  @keyframes animateprogressbar {
    from   {width: 0}
    to  {width: 100%;}
  }

  /*----- Header ---------------*/
  .mobile-hamburger {
    display: none;
  }
  header {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 10%;
  }
  header div {
    -webkit-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
  }
  
  .slice-one {
    padding: 10px 30px;
    background-color: #49d8a0;
    width: 80%;
    height: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 5px;
    color: #fff;
  }
  
  .menu-and-title{
    box-shadow: none;
    flex-direction: column;
  }
  
  .nav-links{
    margin-bottom: 12px;
    list-style: none;
  }
  
  .nav-links li{
    display: inline-block;
    margin-right: 10px;
  }
  
  .nav-links a{
    text-decoration: none;
    color: #fff;
    transition: all 0.2s ease;
  }
  
  .nav-links a:hover{
    color: #d84981;
  }
  
  h1 {
    font-size: 150%;
  }
  
  .slice-two {
    padding: 10px 10px;
    background-color: #49d8a0;
    width: 18%;
    height: 100%;
    color: #fff;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
  }
  
  .slice-two p {
    margin-bottom: 10px;
  }
  
  /*----- Middle tabs ----------*/
  .middle-tabs {
    margin-top: 20px;
    width: 100%;
    height: 80%;

  }
  

  
  .tab-content {
    height: 100%;
    width: 100%;
    margin: auto;
    background-color: white;
    text-align: center;
    padding: 30px;
    display: block;
    border-radius: 5px;
    -webkit-box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
    z-index: 999;
    display: flex;
    flex-direction: column;
  }
  
  
  /* -------------------------------- */
  /* ----- 5. FOOTER ------------*/
  /* -------------------------------- */
  footer {
    bottom: 0px;
    margin: 20px 0px;
    height: 7%;
    background-color: #49d8a0;
    border-radius: 5px;
    -webkit-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
  }
  
  /* -------------------------------- */
  /* ----- 6. DETAILS TAB ------------*/
  /* -------------------------------- */

  
 
  
  /* -------------------------------- */
  /* ----- 9. SERVER ERROR MESSAGES --*/
  /* -------------------------------- */
  .no-data-div-resource,
  .no-data-div-details,
  .no-data-div-project,
  .no-data-div-invoice {
    width: 100%;
    text-align: center;
  }
  
  .no-data-div-resource img,
  .no-data-div-details img,
  .no-data-div-project img,
  .no-data-div-invoice img {
    height: 150px;
    width: auto;
  }
  
  .no-data-div-resource p,
  .no-data-div-details p,
  .no-data-div-project p,
  .no-data-div-invoice p {
    color: #464648;
    font-weight: 500;
  }
  
  /* -------------------------------- */
  /* ----- 10. PRELOADER ------------ */
  /* -------------------------------- */
  .active-loader{visibility: visible !important;}
  .preloader-box{
    position: fixed;
    top: 30%;
    left: 50%;
    z-index: 999999;
    text-align: center;
    flex-direction: column;
    align-items: center;
    visibility: hidden;
  }
  
  .preloader{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 8px solid #49d8a0;
    border-top: 8px solid #d84981;
    visibility: hidden;
    animation: rotate 1s ease-in-out infinite;
  }
  
  .loading-text{
    margin-top: 10px;
    font-weight: 500;
  }
  
  @keyframes rotate{
    from{
      transform: rotate(0deg);
    }
    to{
      transform: rotate(360deg);
    }
  }
  